html, body {
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif ;
}

app {
    position: relative;
    display: flex;
    /*flex-direction: column;*/
}

/*Forms*/
.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=submit] {
    width: 100%;
    background-color: #353173;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #252254;
}

/*histoy tables*/
table, th, td {
    border: 1px solid black;
}


/* app bar */
.mdc-top-app-bar__row {
    background-color: #fff;
    color: #404040;
}

.mdc-top-app-bar__section .mdc-icon-button i {
    color: #171963;
}

.logo-img {
    height: 42px;
}

.mdc-top-app-bar {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    color: white;
    z-index: 7 ;
    position: sticky ;
    top: 0;
}

.mdc-top-app-bar__title,
.mdc-top-app-bar__title a {
    color: white;
}


.hidden-mdc-down nav a {
    color: #E00;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
}

    .hidden-mdc-down nav a:hover {
        color: #F55;
    }

.hidden-mdc-down nav ul,
.hidden-mdc-down nav ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hidden-mdc-down nav > ul {
    background: #EEE;
    text-align: center;
}

    .hidden-mdc-down nav > ul > li {
        display: inline-block;
        border-left: solid 1px #aaa;
    }

        .hidden-mdc-down nav > ul > li:first-child {
            border-left: none;
        }



/* page */
.container-fluid {
    min-height: 350px;
    padding: 20px 30px;
}

.flex-1 {
    flex: 1;
}


/* Drawer*/
.mdc-nav-li {
    list-style: none;
}

.mini .mdc-drawer,
.mini .app-sidebar {
    width: 54px;
    transition: width .4s ease-in-out;
}

    .mini .mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content {
        margin-left: 54px;
        transition: margin-left .4s ease-in-out;
    }

.mini .drawer-profile {
    padding: 0 4px;
}

.mini .after.mdc-sub-menu-icon,
.mini .miniHover {
    transform: translateX(200%);
    animation: slide-out 1s forwards;
    transition: .4s ease-in-out;
    visibility: hidden;
    opacity: 0;
    position: fixed;
}

.miniHover {
    color: white;
}

.mini .mdc-drawer:hover .after.mdc-sub-menu-icon,
.mini .mdc-drawer:hover .miniHover {
    transform: translateX(0%);
    animation: slide-in 1s forwards;
    transition: width .4s ease-in-out;
    visibility: visible;
    opacity: 1;
    position: relative;
}

.mini .mdc-drawer:hover .after.mdc-sub-menu-icon {
    position: absolute;
}

.mini .drawer-footer .mdc-button {
    min-width: 36px;
}

.mdc-drawer:hover,
.mdc-drawer:hover .app-sidebar,
.full .mdc-drawer,
.full .app-sidebar {
    width: 256px;
    transition: width .4s ease-in-out;
}

.closed .mdc-drawer,
.closed .app-sidebar {
    width: 0;
    transition: width .4s ease-in-out;
}

.mini .mdc-drawer:hover.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content,
.full .mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content {
    margin-left: 256px;
    transition: margin-left .4s ease-in-out;
}

.closed .mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content {
    margin-left: 0;
    transition: margin-left .4s ease-in-out;
}

.mdc-drawer__content {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #00014d 70%);
    color: #FFF;
}

.mdc-drawer .mdc-list-item {
    margin: 8px 0 ;
    border-radius: 0 ;
    color: #fff ;
}

.mdc-drawere .mdc-list-item:active {
    box-shadow: inset 3px 0 0 #171963;
}

.mdc-drawer .mdc-list-item--disabled {
    color: #10068a ;
}

.mdc-drawer a.mdc-list-item {
    padding: 0 14px ;
}

.mdc-drawer .mdc-list-item--selected {
    border-left: solid 3px rgba(255, 255, 255, .5);
}

    .mdc-drawer .mdc-list-item--selected::before {
        opacity: 0.3 ;
    }

.mdc-expansion-panel--selected .mat-expansion-panel__summary {
    border-left: solid 3px rgba(255, 255, 255, .3);
}

    .mdc-expansion-panel--selected .mat-expansion-panel__summary::before {
        opacity: 0.2 ;
    }

.mat-accordion .mdc-nav-menu .mat-expansion-panel.mat-expansion-panel--expanded {
    margin: 0;
}

.drawer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171963;
    height: 64px;
    color: #fff;
}

    .drawer-logo a {
        color: #fff;
    }

.drawer-header {
}

.drawer-profile {
    padding: 16px;
    border-bottom: solid 1px #777;
    background-image: url("../images/profile-bg.jpg");
    background-size: cover;
    color: #fff;
    font-size: 12px;
}

    .drawer-profile a,
    .drawer-profile .material-icons {
        color: #fff;
    }

.app-sidebar .material-icons {
    margin-right: 8px;
    padding-left: 7px;
}

.app-sidebar .mat-expansion-panel__content .material-icons {
    padding-left: 2px;
    margin-left: -3px;
}

.app-sidebar .mdc-nav-li .material-icons {
    margin-right: 8px;
    padding-left: 0;
}

.mdc-drawer {
    /*margin-top: 64px;*/
    box-shadow: 2px 0 5px 0 rgba(0,0,0,0.16);
}

.mdc-drawer-app-content {
    background-color: #f5f5f5;
}

.mat-drawer-container-responsive {
    display: flex;
    flex-direction: row;
}

    .mat-drawer-container-responsive .mdc-drawer {
        width: unset ;
        position: relative;
    }

        .mat-drawer-container-responsive .mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content {
            margin-left: unset ;
            position: relative;
            flex: 1;
        }

.mdc-top-app-bar--fixed-adjust {
    padding-top: 0 ;
    overflow: hidden;
}

.drawer-footer {
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: solid 1px #AAA;
    font-size: 12px;
    padding: 0 12px 0 12px;
    background-color: lightgray
}