@page "/"

<h1>Welcome to Trakx Tools app!</h1>

@*to do later:
    <div class="alert alert-warning" role="alert">
        Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
    </div>*@

<div class="alert alert-warning" role="alert">
    Please make sure that you are connected to an authorized account to be able to use this application.
</div>

<p>
    Trakx tools is an application that allows authorized users to interact with the tools set up by
    Trakx. Thanks to this application you will be able to wrap/unwrap tokens, compose new indices,
    issue and redeem indices and access the history of the different transactions of the application.
</p>

