@page "/issue-redeem"
@using Microsoft.AspNetCore.SignalR.Client;
@using Trakx.Common.Interfaces
@using Trakx.Common.Interfaces.Indice
@inject NavigationManager NavigationManager
@inject IIndiceDataProvider IndiceDataProvider

<h1>Issue and Redeem indices</h1>

<MatBlazor.MatList SingleSelection="true" >
    <MatBlazor.MatListItem OnClick="IndiceSymbolChanged" />
</MatBlazor.MatList>

@code {
    private Uri _liveNavUri;
    private HubConnection _connection;

    private string _compositionSymbol = string.Empty;
    private string _indiceSymbol = string.Empty;

    public List<string> IndiceSymbolList { get; private set; } 
    public IList<DateTime> CompositionDates { get; private set; }

    #region Overrides of ComponentBase

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        IndiceSymbolList = await IndiceDataProvider.GetAllIndiceSymbols();
    }

    #endregion

    private async Task IndiceSymbolChanged()
    {
        CompositionDates = (await IndiceDataProvider.GetCompositionSymbolsFromIndice(_indiceSymbol))
            .Select(SymbolExtensions.GetDateFromCompositionSymbol)
            .OrderByDescending(d => d)
            .ToList();
    }

    private async Task GetCompositionComponents(string compositionSymbol)
    {
        await IndiceDataProvider.GetCompositionFromSymbol(compositionSymbol);
    }

}