@page "/Wrapping/wrapping_balance"
@using Syncfusion.Blazor.Grids

<h3>Wrapping Balance</h3>
<SfGrid DataSource="@WrappingBalanceList" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel", "Search" })" AllowPaging="true">
    <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true"/>
    <GridTemplates></GridTemplates>
    <GridColumns>
        <GridColumn Field=@nameof(WrappingBalanceModel.Name) IsPrimaryKey="true"></GridColumn>
        <GridColumn Field=@nameof(WrappingBalanceModel.NativeTokenBalance)></GridColumn>
        <GridColumn Field=@nameof(WrappingBalanceModel.WrappedTokenInCirculation) ></GridColumn>
    </GridColumns>
</SfGrid>

@code {

    public class WrappingBalanceModel
    {
        public string Name { get; set; }
        public double NativeTokenBalance { get; set; }

        public double WrappedTokenInCirculation { get; set; }

        public WrappingBalanceModel(string name, double nativeTokenBalance, double wrappedTokenInCirculation)
        {
            Name = name; NativeTokenBalance = nativeTokenBalance; WrappedTokenInCirculation = wrappedTokenInCirculation;

        }
    }

    public List<WrappingBalanceModel> WrappingBalanceList = new List<WrappingBalanceModel>()


{
        new WrappingBalanceModel("Bitcoin",12.345,12.345),


        new WrappingBalanceModel("Litecoin",13.567,13.567),


        new WrappingBalanceModel("Ripple",63.188,63.188)

    };

    #region Overrides of ComponentBase

    /// <inheritdoc />
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    #endregion

}
