@page "/livenav"
@using System.Collections.Concurrent
@using System.Threading
@using Microsoft.AspNetCore.Components
@using Trakx.Data.Market.Server.Hubs
@using Microsoft.AspNetCore.SignalR.Client;
@using Microsoft.Extensions.DependencyInjection
@using Trakx.Data.Market.Common.Pricing
@inject NavHub Hub
@inject NavigationManager NavigationManager

<h1>Live Index NAV</h1>

<input id="symbol" @onchange="ChangeSymbol" />
<button class="btn btn-primary" id="addSymbol" @onclick="AddSymbol">Add</button>
<button class="btn btn-primary" id="removeSymbol" @onclick="RemoveSymbol">Remove</button>
<br />
<p>NavHub Uri: @_liveNavUri</p>
<br />
<table class="table small">
    @if (_updatesBySymbol.Any())
    {
        <tr>
            <td>Updated</td>
            <td>Symbol</td>
            <td>NAV</td>
        </tr>
    }
    @foreach (var update in _updatesBySymbol.Values)
    {
        <tr>
            <td>@update.TimeStamp.ToString("yyyyMMdd - hh:mm:ss")</td>
            <td>@update.Symbol</td>
            <td>@update.Value.ToString("F4")</td>
        </tr>
    }
</table>
<br />

@code {

    private string _symbol = string.Empty;
    private string _update = "Register for updates using by adding and index above";

    private ConcurrentDictionary<string, NavUpdate> _updatesBySymbol = new ConcurrentDictionary<string, NavUpdate>();
    private Uri _liveNavUri;

    public void AddSymbol()
    {
        var newSymbol = _symbol;
        Hub.RegisterToNavUpdates(newSymbol);
        _updatesBySymbol.TryAdd(_symbol, new NavUpdate(newSymbol, 0));
    }

    public void RemoveSymbol()
    {
        Hub.DeregisterFromNavUpdates(_symbol);
        _updatesBySymbol.TryRemove(_symbol, out var _);
    }

    public void ChangeSymbol(ChangeEventArgs change)
    {
        _symbol = change.Value?.ToString() ?? string.Empty;
    }

    protected override async Task OnInitializedAsync()
    {
        _updatesBySymbol = new ConcurrentDictionary<string, NavUpdate>();

        if (!Uri.TryCreate(new Uri(NavigationManager.BaseUri), "/hubs/nav", out var liveNavUri)) return;
        _liveNavUri = liveNavUri;
        var connection = new HubConnectionBuilder()
            .WithUrl(_liveNavUri)
            .AddJsonProtocol()
            .Build();

        await connection.StartAsync();

        var channel = await connection.StreamAsChannelAsync<NavUpdate>("NavUpdatesStream", CancellationToken.None);
        while (await channel.WaitToReadAsync())
        {
            while (channel.TryRead(out var update))
            {
                var updateResult = _updatesBySymbol.AddOrUpdate(update.Symbol, _ => update,
                    (s, oldValue) => (oldValue.TimeStamp < update.TimeStamp) ? update : oldValue);
                
                if(updateResult == update) StateHasChanged();
            }
        }
    }
}
